

<div class="container jumbotron">
	<div class="row">
		<div class="col-md-8">
			<% if @lawyers.any? %>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Years of Experience</th>
							<th>Charge</th>
							<th>Average Rating</th>
						</tr>
					</thead>
					<% @lawyers.each do |t| %>
						<tbody>
							<tr>
								<td><%= t[:name] %></td>
								<td><%= t[:experience] %></td>
								<td><%= t[:charge]%></td>
								<td><%= t[:rating] %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			<% else %>
				<h2><strong>No lawyers found with given combination</strong> </h2>
			<% end %>
		</div>

	</div>

</div>
